

#title {
    background-color: lightblue;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  #form {
    background-color: lightyellow;
    margin: 3%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    margin-top: 10px
  }
#List{
  background-color:grey;
  border: black 2px solid;
  width: 45vw;
  height: 90vh;
  margin-left: 450px;
  margin-top: 40px;
}
#purchases{
  font-size: 25pt;
  font-style: bold;
}